@model GameStore.Models.Purchase

@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-lg-push-3 col-lg-6" style="padding-top: 30px">
        @using (Html.BeginForm("Buy", "Game", FormMethod.Post))
        {
            @Html.Hidden("GameName", @ViewBag.BuyName as string)

            <div class="content">
                <h3>Покупка @ViewBag.BuyName</h3>
            </div>

            <div class="form-group">
                <label for="eMail">Ваш e-mail </label>
                <input type="text" name="Email" id="eMail" class="form-control" placeholder="Введите e-mail" />
            </div>

            <div class="form-group">
                <label for="message">Ваш отзыв</label>
                <textarea class="form-control" name="Message" placeholder="Напишите отзыв" style="height: 100px;"></textarea>
            </div>

            <div class="form-inline">
                <label for="payment" style="padding-right:5px;">Payment method</label>
                <select class="form-control" name="PaymentMethod" id="payment">
                    <option>WebMoney</option>
                    <option>PayPal</option>
                    <option>Приват24</option>
                </select>
            </div>

            <div class="content" style="padding-top: 20px;">
                <button type="submit" class="btn btn-success" style="width: 250px;">Купить</button>
            </div>
        }
    </div>


</div>

