
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/Layout_PianoMania.cshtml";
}

<div class="container" style="padding-top: 40px;">

    <div class="col-sm-offset-4 col-sm-4">
        <div style="text-align: center"><h3><label>Sign up</label></h3></div>

        @using (Html.BeginForm("Register", "Pianomania", FormMethod.Post))
        {
            @*<div class="form-group">
                    <label>Username</label>
                    <input class="form-control" name="#" placeholder="Enter username" />
                </div>*@

            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="#" placeholder="Enter your email" required/>
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="#" placeholder="Enter your password" required/>
            </div>

            <div class="form-group">
                <label>Confirm password</label>
                <input type="password" class="form-control" name="#" placeholder="Confirm your password" required/>
            </div>

            <div class="btn-group">
                <button class="btn-default btn" type="submit" style="width: 145px;">Create account</button>
                <a href="#" class="btn btn-danger" style="width: 90px;">Google</a>
                <a href="#" class="btn btn-primary" style="width: 110px;">Facebook</a>
            </div>

            <div style="padding-top: 10px;">
                <h5><label>Already have an account? </label>@Html.ActionLink(" Log in!", "Login", "Pianomania")</h5>
                <h4><small>About what gives registration</small></h4>
            </div>
        }

    </div>

</div>
